<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>App Container</h1>
      <h3>Create three new components: GameControl, Odd and Even.</h3>
      <h3>
        When starting the game, an event (incrementing number) should get
        emitted each second.
      </h3>
      <h3>
        Event should be listenable outside the component.
      </h3>
      <h3>
        Stop button should clearInterval.
      </h3>
      <h3>
        A new odd component should get created for every odd number emitted; the
        same should happen for even numbers.
      </h3>
      <h3>
        Simply output 'Odd - NUMBER' or 'Even - Number' in the two components.
      </h3>
      <h3>
        Style the element so odd and even are distinguished based on being odd
        or even.
      </h3>
      <!-- Game Control Component with 2 buttons -->
      <!-- Game starts: an event (holding an incrementing number) should emitted each second -->
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <app-game-control (intervalFired)="onIntervalFired($event)">
          </app-game-control>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <app-odd
            *ngFor="let oddNumber of oddNumbers"
            [number]="oddNumber"
          ></app-odd>
          <app-even
            *ngFor="let evenNumber of evenNumbers"
            [number]="evenNumber"
          ></app-even>
        </div>
      </div>
    </div>
  </div>
</div>
